.content_story{
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.content_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.content_container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px 40px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 100px;
  gap: 5rem;
}
.content_title_1 img{
  width: 100%;
  height: 100%;
  padding: 10px 0;
  object-fit: cover;
}
.content_title_2 img{
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.content_title_3 img{
  width: 80%;
  height: 100%;
  padding: 10px 0;
}
.content_title_4 img{
  width: 100%;
}
.content_title_5 img{
  width: 80%;
  height: 50%;
}
.content_title_6 img{
  width: 100%;
}
.content{
  display: flex;
  align-items: centet;
  justify-content: center;
  gap: 5.5rem;
  padding: 50px 50px 0px; 
  width: auto;
}
.content_btn{
  width: 350px;
  height: 50px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  background-color: #09363f;
  color: #e7f2f5;
  cursor: pointer;
  transition: 0.1s ease-in;
  border: none;
}
.content_btn_btn{
  width: 350px;
  height: 50px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  background-color: #ffff;
  color: #09363f;
  cursor: pointer;
  transition: 0.1s ease-in;
  border: 1px solid black;
}
.content_btn:hover{
  background-color: #e7f2f5;
  color: #000;
  border: 1px solid #000;
}
.content_btn_btn:hover{
  background-color: #09363f;
  color: #fff;
  border: 1px solid #000;
}
.content_1{
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
}
.content_2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* letter-spacing: 2px; */
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
